@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-base.woff2?v3);
  unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655,
    U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6ED, U+8F0-8F3,
    U+FD3E-FD3F;
}
@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-base-b.woff2?v3);
  font-weight: 700;
  unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655,
    U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6ED, U+8F0-8F3,
    U+FD3E-FD3F;
}
@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-phrases.woff2?v3);
  unicode-range: U+E100-E103, U+FD3E-FD45, U+FD47-FD4F, U+FDF2,
    U+FDFA-FDFB, U+FDFD-FDFF;
}
@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-phrases.woff2?v3);
  font-weight: 700;
  unicode-range: U+E100-E103, U+FD3E-FD45, U+FD47-FD4F, U+FDF2,
    U+FDFA-FDFB, U+FDFD-FDFF;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Neo Sans Arabic', sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #0070f3;
}
::-webkit-scrollbar-thumb:hover {
  background: #0366d6;
}

header {
  text-align: center;
  background-color: #f6f8fa;
  border-bottom: 1px solid #e5e7eb;
  padding: 15px;
}

h1 {
  color: #0070f3;
}

a {
  text-decoration: none;
  color: #0070f3;
}

a.dorar-search-link {
  display: block;
  padding: 0.85rem;
  font-weight: 500;
  font-size: 14px;
}

a:hover {
  color: #0366d6;
}

.group-btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  justify-content: space-between;
}

.nice-btn {
  color: white;
  background-color: #0070f3;
  font-size: 1.5em;
  border-radius: 15px;
  margin: 0.25em 1.5em;
  padding: 0.25em 1.5em;
  transition: 0.2s ease;
}

.copy-btn {
  margin: 0;
  font-size: 1rem;
}

.copy-btn:disabled,
.copy-btn:disabled:active {
  background-color: gray;
}
.copy-btn:disabled:hover {
  transform: none;
}

.nice-btn:hover {
  transform: scale(1.1);
}

.nice-btn:active {
  background-color: #0366d6;
}

#page-counter,
#hadith-counter {
  color: #0070f3;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 2em;
  margin-top: 1em;
}

#message {
  display: flex;
  padding: 0 1em;
  color: #0070f3;
  font-size: 3em;
  font-weight: 700;
  line-height: 60px;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  padding: 2em;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  background: white;
  box-shadow: 0px 0px 0px grey;
  transition: box-shadow 0.2 ease-out;
  box-shadow: 0.8px 0.9px 3px grey;
}

.card:hover {
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow 0.2 ease-in;
}

.hadith-text {
  font-family: kitab;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

hr {
  border: grey 1px solid;
  border-radius: 1px;
  margin: 10px 0;
  opacity: 0.5;
}

.hadith-info {
  padding: 1em 0;
}

.hadith-info > p {
  font-size: 16px;
  line-height: 24px;
}

.hadith-info > p > span {
  font-weight: 500;
}

footer {
  text-align: center;
  background-color: #f6f8fa;
  border-top: 1px solid #e5e7eb;
  padding: 15px;
}

/* loader css */

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #0366d6;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader-hide {
  display: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

/* loader css */
