* {
  font-family: Vazirmatn RD;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --main-color: #0070f3;
  --main-color-tr: #0070ffa1;
  --main-color-dark: #0050ac;
  --ele-bg: #f6f8fa;
  --ele-bg-dark: #e5e7eb;
}

@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-base.woff2?v3);
  unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655,
    U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6ED, U+8F0-8F3,
    U+FD3E-FD3F;
}
@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-base-b.woff2?v3);
  font-weight: 700;
  unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655,
    U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6ED, U+8F0-8F3,
    U+FD3E-FD3F;
}
@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-phrases.woff2?v3);
  unicode-range: U+E100-E103, U+FD3E-FD45, U+FD47-FD4F, U+FDF2,
    U+FDFA-FDFB, U+FDFD-FDFF;
}
@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-phrases.woff2?v3);
  font-weight: 700;
  unicode-range: U+E100-E103, U+FD3E-FD45, U+FD47-FD4F, U+FDF2,
    U+FDFA-FDFB, U+FDFD-FDFF;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Neo Sans Arabic', sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-dark);
}

header {
  text-align: center;
  background-color: var(--ele-bg);
  border-bottom: 1px solid var(--ele-bg-dark);
  padding: 15px;
}

h1 {
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a.dorar-search-link {
  display: block;
  padding: 0.85rem;
  font-weight: 500;
  font-size: 14px;
}

a:hover {
  color: var(--main-color-dark);
}

.group-btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  justify-content: space-between;
}

.nice-btn {
  color: var(--ele-bg);
  background-color: var(--main-color);
  font-size: 1.5em;
  border-radius: 15px;
  margin: 0.25em 1.5em;
  padding: 0.25em 1.5em;
  transition: 0.2s ease;
}

.copy-btn {
  margin: 0;
  font-size: 1rem;
}

.copy-btn:disabled,
.copy-btn:disabled:active {
  background-color: var(--ele-bg-dark);
}
.copy-btn:disabled:hover {
  transform: none;
}

.nice-btn:hover {
  transform: scale(1.1);
}

.nice-btn:active {
  background-color: var(--main-color-dark);
}

.hadith-degree {
  font-size: 18px;
  padding-right: 2em;
  padding-top: 0.5em;
}

.hadith-degree > label {
  color: var(--main-color);
  font-weight: 500;
}
.hadith-degree-checkbox {
  padding: 0.5em 0;
}
.hadith-degree-checkbox > label {
  padding-right: 0.5em;
}

#page-counter,
#hadith-counter {
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 2em;
  margin-top: 1em;
}

#message {
  display: flex;
  padding: 0 1em;
  color: var(--main-color);
  font-size: 3em;
  font-weight: 700;
  line-height: 60px;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  padding: 2em;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  background: var(--ele-bg);
  box-shadow: 0px 0px 0px var(--ele-bg-dark);
  transition: box-shadow 0.2 ease-out;
  box-shadow: 0.8px 0.9px 3px var(--ele-bg-dark);
}

.card:hover {
  box-shadow: 1px 8px 20px var(--ele-bg-dark);
  transition: box-shadow 0.2 ease-in;
}

.hadith {
  font-family: kitab;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

hr {
  border: var(--ele-bg-dark) 1px solid;
  border-radius: 1px;
  margin: 10px 0;
  opacity: 0.5;
}

.hadith-info {
  padding: 1em 0;
}

.hadith-info > span {
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.info-subtitle {
  font-weight: 500;
}

.tab {
  overflow: hidden;
  border: 1px solid var(--ele-bg-dark);
  background-color: var(--ele-bg);
}

.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button.active {
  background-color: var(--main-color);
  color: var(--ele-bg);
}

footer {
  text-align: center;
  background-color: var(--ele-bg);
  border-top: 1px solid var(--ele-bg-dark);
  padding: 15px;
}

/* loader css */

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid var(--ele-bg-dark);
  border-radius: 50%;
  border-top-color: var(--main-color-dark);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.loader-hide {
  display: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

/* loader css */
/*new code*/
.settings-box {
  background-color: transparent;
  height: 46px;
  transition: 0.3s;
  overflow: hidden;
}
.settings-box.open {
  height: 90vh;
}
@media (max-width: 768px) {
  .settings-box.open {
    height: 100%;
  }
}
.settings-box .toggle-settings {
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  cursor: pointer;
  width: 40px;
  align-items: center;
  display: inline-block;
  height: 34px;
}
.settings-box .toggle-settings .fa-gear {
  width: 30px;
  padding: 8px 0;
  transition: all 0.5s ease;
}
.settings-box .search {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.settings-box .search:focus {
  outline: #0070f3;
}
.settings-box .search-zone {
  padding-top: 10px;
  line-height: 1.8;
}
.settings-box .container-main-wearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  padding: 32px;
}
.select-box {
  position: relative;
  display: flex;
  width: 250px;
  flex-direction: column;
}
.select-box .options-container {
  background: white;
  width: 100%;
  opacity: 0;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
  color: rgb(56, 52, 52);
}
.select-box .option,
.selected {
  padding: 12px 24px;
  cursor: pointer;
}
.select-box .option .radio {
  display: none;
}
.selected {
  background: white;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(56, 52, 52);
  position: relative;
  order: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.selected:after {
  content: '\f106';
  position: absolute;
  right: 20px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  color: black;
  transform: rotate(180deg);
  transition: all 0.4s;
}
.select-box .option:hover {
  background: #f1fff3;
  border-radius: 5px;
  color: #3363f1;
}
.select-box .option input:hover {
  font-weight: 700px;
}
.search-box input {
  width: 100%;
  padding: 16px 16px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  position: absolute;
  opacity: 0;
  outline: 3px solid black;
  outline-offset: -10px;
  z-index: 100;

  border: none;
}
.select-box .options-container > {
  margin-top: 45px;
}
.select-box .options-container.active {
  max-height: 300px;
  opacity: 1;
  margin-top: 40px;
  overflow-y: scroll;
  transition: all 0.4s;
}
.select-box .options-container.active ~ .selected::after {
  transform: rotateY(180deg);
  /* top: -6px; */
}
.select-box .options-container::-webkit-scrollbar {
  width: 7px;
  background: #888;
  border-radius: 8px;
  height: 1px;
}
.select-box .options-container::-webkit-scrollbar-thumb {
  background: #464749;
  border-radius: 8px 8px 8px 8px;
}
.select-box .options-container.active ~ .search-box input {
  opacity: 1;
  pointer-events: auto;
}
