* {
  padding: 0;
  margin: 0;
  font-family: 'Neo Sans Arabic', sans-serif;
  font-family: 'Neo Sans', sans-serif;
}

h1 {
  text-align: center;
  color: #0070f3;
  background-color: #f6f8fa;
  border-bottom: 1px solid #e5e7eb;
  padding: 15px;
}

.group-btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  justify-content: space-between;
}

.nice-btn {
  color: white;
  background-color: #0070f3;
  font-size: 1.5em;
  border-radius: 15px;
  margin: 0.25em 0.5em;
  padding: 0.25em 1.5em;
  transition: 0.2s ease;
}

.nice-btn:hover {
  transform: scale(1.1);
}

.nice-btn:active {
  background-color: #0160cd;
}

#page-counter,
#hadith-counter {
  color: #0070f3;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 2em;
  margin-top: 1em;
}

#message {
  display: flex;
  padding: 0 1em;
  color: #0070f3;
  font-size: 3em;
  font-weight: 700;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  padding: 2em;
}

.card {
  border-bottom: 3px solid #0070f3;
  padding: 1em;
}

.hadith-text {
  font-size: 18px;
  font-weight: 600;
}

.hadith-info {
  padding: 1em 0;
}

.hadith-info>p {
  line-height: 20px;
  font-size: 14px;
}

.hadith-info>p>span {
  font-weight: 600;
}