* {
  font-family: Vazirmatn RD;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --main-color: #0070f3;
  --main-disable-color: #868f9b;
  --main-disable-color-dark: #676d75;
  --main-color-tr: #0070ffa1;
  --main-color-dark: #0050ac;
  --ele-bg: #f6f8fa;
  --ele-bg-dark: #e5e7eb;
}

@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-base.woff2?v3);
  unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655,
    U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6ED, U+8F0-8F3,
    U+FD3E-FD3F;
}

@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-base-b.woff2?v3);
  font-weight: 700;
  unicode-range: U+200?, U+60C, U+618-61B, U+61F, U+621-63A, U+640-655,
    U+65C, U+660-66C, U+670-671, U+6CC, U+6D4, U+6D6-6ED, U+8F0-8F3,
    U+FD3E-FD3F;
}

@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-phrases.woff2?v3);
  unicode-range: U+E100-E103, U+FD3E-FD45, U+FD47-FD4F, U+FDF2,
    U+FDFA-FDFB, U+FDFD-FDFF;
}

@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-phrases.woff2?v3);
  font-weight: 700;
  unicode-range: U+E100-E103, U+FD3E-FD45, U+FD47-FD4F, U+FDF2,
    U+FDFA-FDFB, U+FDFD-FDFF;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Neo Sans Arabic', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-dark);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--ele-bg);
  border-bottom: 1px solid var(--ele-bg-dark);
  padding: 15px;
  width: 100%;
}

h1 {
  color: var(--main-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a.dorar-search-link,
a.sunnah-search-link {
  display: block;
  padding: 1em;
  padding-right: 3em;
  font-weight: 500;
  font-size: 14px;
}

a:hover {
  color: var(--main-color-dark);
}

.group-btn {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
  justify-content: space-between;
}

.nice-btn {
  color: var(--ele-bg);
  background-color: var(--main-color);
  font-size: 1.5em;
  border-radius: 15px;
  border: none;
  margin: 0.5em;
  padding: 0.25em 1.5em;
  transition: 0.2s ease;
}

.copy-btn:disabled,
.copy-btn:disabled:active {
  background-color: var(--ele-bg-dark);
}

.copy-btn:disabled:hover {
  transform: none;
}

.nice-btn:hover {
  transform: scale(1.1);
}

.nice-btn:active {
  background-color: var(--main-color-dark);
}

.hadith-degree {
  font-size: 18px;
  padding-right: 2em;
  padding-top: 0.5em;
}

label {
  display: block;
}

.hadith-degree > label {
  color: var(--main-color);
  font-weight: 500;
}

.hadith-degree-checkbox {
  padding: 0.5em 0;
}

.hadith-degree-checkbox > label {
  padding-right: 0.5em;
}

#page-counter,
#hadith-counter {
  color: var(--main-color);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0 2em;
  margin-top: 1em;
}

#specialist-hadith,
#non-specialist-hadith,
#total-hadith,
#number-of-pages {
  color: var(--main-color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 2em;
  margin-top: 1em;
}

#page-select {
  text-align: center;
}

#page-number-selection {
  color: var(--main-color);
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  height: 2em;
  width: 12em;
}

#message {
  display: flex;
  padding: 0 1em;
  color: var(--main-color);
  font-size: 3em;
  font-weight: 700;
  line-height: 60px;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.cards {
  padding: 2em;
}

.card {
  margin: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 90%;
  background: var(--ele-bg);
  box-shadow: 0px 0px 0px var(--ele-bg-dark);
  transition: box-shadow 0.2 ease-out;
  box-shadow: 0.8px 0.9px 3px var(--ele-bg-dark);
}

.card:hover {
  box-shadow: 1px 8px 20px var(--ele-bg-dark);
  transition: box-shadow 0.2 ease-in;
}

#popup-card {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3em 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: auto;
  padding: 20px;
  place-items: center;
  justify-content: center;
  padding-top: 50px;
  transition: all 0.3s ease-in-out;
}

#popup-card > .cards {
  height: 100%;
}

#popup-card > .card {
  overflow: scroll;
  overflow-x: hidden;
}

#exit-popup {
  border-radius: 50px;
  position: fixed;

  z-index: 100;
  top: 9px;
  display: none;

  transition: all 0.3s;
  font-weight: bold;
}

#exit-popup:hover {
  background-color: #ff0000;
}

.scroll-disable {
  overflow: hidden;
  height: 100vh;
}

.sharh {
  font-family: kitab;
  font-size: 18px;
  padding: 10px;
  padding-right: 50px;
  font-weight: 600;
  line-height: 36px;
}

.hadith {
  font-family: kitab;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.hadith-narrated {
  font-family: kitab;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

hr {
  border: var(--ele-bg-dark) 1px solid;
  border-radius: 1px;
  margin: 10px 0;
  opacity: 0.5;
}

.toggle-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 2em;
  margin-top: 1em;
}

.toggle-box p {
  padding: 0 1em;
  font-size: 1.2em;
  font-weight: 500;
}

.toggle {
  appearance: none;
  display: none;
  -webkit-appearance: none;
}
.toggle-switch {
  background-color: var(--ele-bg-dark);
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}
.toggle-switch::before {
  content: '🡄';
  font-weight: 900;
  font-size: 1.5em;
  width: 24px;
  height: 24px;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.toggle:checked + .toggle-switch {
  background-color: var(--ele-bg-dark);
}
.toggle:checked + .toggle-switch::before {
  content: '🡆';
  font-weight: 900;
  left: 50px;
}

button:disabled {
  background-color: var(--main-disable-color);
}

button:disabled:hover {
  transform: none;
}

button:disabled:active {
  background-color: var(--main-disable-color);
}

.hadith-info {
  padding: 1em 0;
}

.hadith-info > span {
  font-size: 16px;
  line-height: 24px;
  display: block;
}

.info-subtitle {
  font-weight: 500;
}

.tab-list {
  list-style: none;
  display: flex;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tab {
  overflow: hidden;
  border: 1px solid var(--ele-bg-dark);
  background-color: var(--ele-bg);
}

.tab button {
  background-color: inherit;
  float: right;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.tab-btn.active {
  background-color: var(--main-color);
  color: var(--ele-bg);
}

.tab-btn:hover {
  color: white;
  background-color: var(--main-color-dark);
}

footer {
  text-align: center;
  background-color: var(--ele-bg);
  border-top: 1px solid var(--ele-bg-dark);
  padding: 15px;
}

/* loader css */

.loader {
  width: 30px;
  height: 30px;
  border: 3px solid var(--ele-bg-dark);
  border-radius: 50%;
  border-top-color: var(--main-color-dark);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

#loader-popup {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: auto;
  place-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.loader-hide {
  display: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

/* loader css */
/*new code*/
.settings-box {
  background-color: transparent;
  height: 70px;
  transition: 0.3s;
  overflow: hidden;
}

.settings-box.open {
  height: 100% !important;
  overflow: hidden !important;
}

.settings-box .toggle-settings {
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
  cursor: pointer;
  width: 40px;
  align-items: center;
  display: inline-block;
  height: 34px;
  margin: 8px;
}

.settings-box .toggle-settings .fa-gear {
  width: 30px;
  padding: 8px 0;
  transition: all 0.5s ease;
  font-size: 16px;
}

.settings-box .search {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.settings-box .search:focus {
  outline: #0070f3;
}

.settings-box .container-main-search {
  display: flex;
  flex-wrap: wrap;
  padding-top: 11px;
  padding-right: 24px;
  overflow: hidden;
}

.red-dot::before {
  content: '';
  display: none;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}

.open .red-dot::before {
  display: block;
}

.toggle-settings.red-dot::before {
  display: block;
}

@media (max-width: 679px) {
  .option {
    padding-right: 0px !important;
    padding-top: 0px !important;
    width: 50%;
  }

  .vscomp-wrapper {
    width: 180px !important;
  }
}

.search-zone > label {
  color: var(--main-color);
  font-weight: 500;
}

.search-zone {
  font-size: 18px;
  padding-right: 2em;
  padding-top: 0.5em;
}

.vscomp-wrapper {
  margin: 6px;
  width: 206px;
  padding: 6px;
  text-align: center;
  border-radius: 14px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.vscomp-toggle-button {
  border: none !important;
}

.vscomp-wrapper.focused .vscomp-toggle-button,
.vscomp-wrapper:focus .vscomp-toggle-button {
  box-shadow: none !important;
}

.vscomp-dropbox-container,
.pop-comp-wrapper,
.position-bottom {
  transform: translate3d(1px, 56px, 0px) !important;
}

.search-btn,
.reset-option-btn {
  padding: 8px;
  margin-top: 18px;
  margin-right: 24px;
  font-size: 16px;
  width: 13em;
}

.vscomp-wrapper.has-select-all .vscomp-toggle-all-button {
  display: none !important;
}

.hadith-degree .vscomp-dropbox-container,
.hadith-degree .pop-comp-wrapper,
.hadith-degree .position-bottom,
.search-zone .vscomp-dropbox-container,
.search-zone .pop-comp-wrapper,
.search-zone .position-bottom {
  transform: translate3d(30px, -26px, 0px) !important;
}

.hadith-degree .vscomp-wrapper.keep-always-open .vscomp-dropbox,
.search-zone .vscomp-wrapper.keep-always-open .vscomp-dropbox {
  transition-duration: 0s;
  box-shadow: none !important;
  border: none !important;
  border-radius: 14px;
  width: max-content !important;
  overflow: visible;
}

.hadith-degree .vscomp-option-text,
.search-zone .vscomp-option-text {
  overflow: visible !important;
  font-size: 17px;
}

.hadith-degree .vscomp-search-container,
.search-zone .vscomp-search-container {
  display: none !important;
}

.hadith-degree .vscomp-wrapper.keep-always-open.focused,
.hadith-degree .vscomp-wrapper.keep-always-open:focus,
.hadith-degree .vscomp-wrapper.keep-always-open:hover,
.search-zone .vscomp-wrapper.keep-always-open.focused,
.search-zone .vscomp-wrapper.keep-always-open:focus,
.search-zone .vscomp-wrapper.keep-always-open:hover {
  box-shadow: none !important;
}

.hadith-degree .vscomp-wrapper,
.search-zone .vscomp-wrapper {
  box-shadow: none !important;
}

.hadith-degree
  .vscomp-wrapper.text-direction-rtl.keep-always-open
  .vscomp-clear-button,
.search-zone
  .vscomp-wrapper.text-direction-rtl.keep-always-open
  .vscomp-clear-button {
  display: none;
}

.option label {
  margin-right: 14px;
  color: var(--main-color);
  padding-top: 0.5em;
  font-size: 18px;
  font-weight: 500;
}

.option {
  padding-right: 2em;
  padding-top: 0.5em;
}

#ignore-words {
  display: block;
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 11px;
  width: 88%;
  border: none;
  padding: 15px 10px;
  border-radius: 14px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

#ignore-words:focus {
  outline: none;
}

.searchone {
  display: flex;
  flex-direction: column;
  width: 386px;
  border-left: 1px solid #ddd;
}

.searchone .option {
  width: 80%;
}

.searchone .vscomp-wrapper {
  width: 100%;
}

.searchtwo {
  display: flex;
  flex: 1;
  padding-right: 29px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .searchtwo {
    padding-right: 0px;
  }

  .searchone {
    width: 100% !important;
  }
}

@media (max-width: 1000px) {
  .searchone {
    width: 100% !important;
  }
}

/*nsearch bar*/
.searchbar {
  display: block;
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 11px;
  width: 88%;
  border: none;
  padding: 15px 10px;
  border-radius: 14px;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.searchbar:focus {
  outline: #0050ac;
}

.searchwindow {
  width: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.err {
  color: red;
}
